@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 7%;
    --background-alpha: 1;
    --foreground: 0, 0%, 100%;
    --foreground-alpha: 1;
    --spotify: 141, 76%, 48%;
    --spotify-highlight: 141, 76%, 56%;
    --spotify-press: 141, 76%, 42%;
  }
  body {
    @apply bg-background text-foreground;
  }
}
